.cart{
    width: 90%;
    margin: auto;
    margin-top: 150px;
    &-head{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin-bottom: 20px;
        &-word{
            font-size: 22px;
            font-weight: 550;
        }
    }
    .cart-body-payment{
        flex: 1;
        &__center{
            padding: 16px 24px;
            width: 100%;
            background: #272450;
            border-radius: 8px;
            .shared{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                p{
                    margin-right: 100px;
                }
            }
            .line{
                background-color: hsla(0,0%,100%,.12);
                border-top: 1px solid rgba(0,0,0,.1);
                margin-bottom: 20px;
            }
            button{
                width: 100%;
                background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                border-radius: 8px;
                border: none;
                color: white;
                font-weight: 550;
            }
            button:hover{
                background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                color: white;
            }
            .ant-btn[disabled]{
                color: white;
                opacity: 0.6;
                
            }
        }
        
    }
    .shopping-empty{
        text-align: center;
        img{
            width: 200px;
            height: 200px;
        }
        .text-cart-empty{
            font-size: 24px;
            text-transform: capitalize;
            font-weight: 500;
            @media screen and (max-width: 768px) {
                font-size: 22px;
              }
        }
        p{
            font-size: 18px;
            font-weight: 500;
            color: hsla(0,0%,100%,.6);
            text-transform: capitalize;
        }
    }
}