.cart-body{
    min-height: 300px;
    margin-bottom: 40px;
    @media screen and (max-width: 768px) {
        display: block;
      }

      @media screen and (min-width: 769px) {
        display: block;
      }
      @media screen and (min-width: 821px) {
        display: flex;
      }
    &-product{
        flex: 3;
        
        @media screen and (max-width: 768px) {
            margin-right: 0;
          }
          @media screen and (min-width: 769px) {
            margin-right: 0;
          }
          @media screen and (min-width: 821px) {
            margin-right: 30px;
          }
        &__item{
            border-radius: 8px;            
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 24px;
            @media screen and (max-width: 768px) {
                display: block;
              }
              @media screen and (min-width: 769px) {
                display: flex;
              }
            border: 1px solid hsla(0,0%,100%,.12);
            &--left{
                display: flex;
                margin-right: 150px;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                  }
                  @media screen and (min-width: 769px) {
                    margin-right: 0;
                  }
                  @media screen and (min-width: 821px) {
                    mask-repeat: 150PX;
                }

                img{
                    width: 48px;
                    height: 64px;
                    margin: 0 15px;
                    border-radius: 5px;
                }
                .product-name{
                    p{
                        font-weight: 550;
                    }
                    button{
                        border-radius: 4px;
                        padding: 0 6px;
                        font-size: 12px;
                        color: #f8f8f8;
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;
                        background: #5081ff;
                        outline: none;
                        border: none;
                    }
                    
                }
            }
            &--right{
                display: flex;
                @media screen and (max-width: 768px) {
                    margin-top: 20px;
                  }
                .price{
                    color: #ffca06;
                    margin: 0 16px;
                }
                .increase-decrease-quantity{
                    width: 85px;
                    height: 32px;
                    padding: 0 4px;
                    background: #272450;
                    border-radius: 20px;
                    color: #f8f8f8;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-right: 10px;
                    font-size: 16px;
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    
}