.account-profile{
    &-top{
        border: 1px solid hsla(0,0%,100%,.12);
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 30px;
        .nick{
            border-bottom: 1px solid hsla(0,0%,100%,.12);
            margin-bottom: 20px;
            padding-bottom: 20px;
            &-left{
                display: flex;
                .avatar{
                    margin-right: 20px;
                    img{
                        border-radius: 50%;
                        width: 48px;
                        height: 48px;
                    }
                }
                img{
                    margin-right: 5px;
                }
                span{
                    color: hsla(0,0%,100%,.6);
                    font-size: 14px;

                }
            }
            &-right{
                .link{
                    display: block;
                    font-size: 14px;
                    padding: 8px 10px;
                    background: #3a3e64;
                    border-radius: 8px;
                    color: white;
                }
                .icon-edit{
                    font-size: 14px;
                    border-radius: 50%;
                    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                    padding: 8px 8px;
                    color: white;
                }
            }
        }
        &__bot{
            .anticon-mail{
                margin-right: 5px;
                color: hsla(0,0%,100%,.6);
            }
            span{
                margin-right: 5px;
            }
            img{
                margin-bottom: 5px;
            }
        }
    }
        
    .ware-house{
        &-top{
            h1{
                font-size: 28px;
                color: white;
            }
            a{
                display: block;
                padding: 4px 12px;
                font-size: 16px;
                border-radius: 8px;
                background: #3a3e64;
                color: white;
            }
        }
        &-bot{
            padding: 20px;
            border: 1px solid hsla(0,0%,100%,.12);
            border-radius: 8px;
            &__item{
                font-size: 36px;
                p{
                    font-size: 16px;
                    font-weight: 550;
                }
            
            }
        }
    }
    
}