.account{
    margin-top: 150px;
    background: url(../../../../assets/images/account-bg.png);
    background-position: 50%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    .border-right{
        border-right: 1px solid hsla(0,0%,100%,.12);
    }
        .menu-account{
            background: transparent;
            color: white;
            border-right: 0;
            .ant-menu-submenu{
                padding-bottom: 0;
                border-radius: 8px;
            }
            .ant-menu-title-content{
                color: white !important;
            }
            .ant-menu-sub{
                background: transparent;
                color: white;
            }
            .ant-menu-item:not(:last-child){
                margin-bottom: 0;
            }
            .ant-menu-submenu-title{
                border-radius: 8px;
                height: 50px;
                margin-bottom: 0;
            }
            .ant-menu-submenu-arrow::after,.ant-menu-submenu-arrow::before{
                color: white;
            }
            .ant-menu-item:hover,.ant-menu-submenu-title:hover{
                color: white;
            }
            .ant-menu-item:hover,.ant-menu-item-selected,.ant-menu-submenu-title:hover{
                background: linear-gradient(90deg,hsla(0,0%,100%,.16),hsla(0,0%,100%,0)) !important;
            }
            .ant-menu-item-selected::after{
                opacity: 0;
            }
            
        }
        button.btn-account{
            background: transparent;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 20px;
            margin-left: 20px;
        }
    .outlet{
        flex: 1;
        margin-left: 30px;
    }
}
.ant-tooltip-inner,.ant-menu-submenu-popup > .ant-menu{
    background: linear-gradient(90deg,#3d3c52,#2c3c5d);
    color: white;
    
}
.ant-menu-item{
    border-radius: 8px;
    margin-top: 0 !important;
    height: 50px !important;
}
.ant-menu-item:not(:last-child){
    margin-bottom: 0 !important;
}
.ant-menu-item:hover{
    background: linear-gradient(90deg,hsla(0,0%,100%,.16),hsla(0,0%,100%,0)) !important;
    color: white !important;
}
.ant-tooltip-arrow-content{
    --antd-arrow-background-color: linear-gradient(90deg,#3d3c52,#2c3c5d);
}