.app-connected{
    &-item{
        padding: 40px 20px;
        border: 1px solid hsla(0,0%,100%,.12);
        border-radius: 8px;
        margin-bottom: 20px;
        span{
            font-size: 16px;
            font-weight: 550;
            margin-left: 20px;
        }
        button{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
            border-radius: 8px;
            width: 80px;
            cursor: pointer;
        }
    }
}