.bank-transfer{
    h1{
        font-size: 24px;
        color: white;
    }
    &-content{
        padding: 20px;
        border: 1px solid hsla(0,0%,100%,.12);
        border-radius: 8px;
        &-center{
            width: 400px;
            max-width: 100%;
            margin: auto;
            .alert{
                display: flex;
                padding: 10px;
                border: 1px solid #ffca06;
                color: #ffca06;
                border-radius: 8px;
                .anticon-alert{
                    font-size: 24px;
                    margin-right: 5px;
                }
            }
            .input-money{
                margin-top: 15px;
                .ant-input-number-handler-wrap{
                    display: none;
                }
                .ant-input-number{
                    background: transparent;
                    border: 1px solid hsla(0,0%,100%,.12);
                }
                .ant-input-number-wrapper{
                    color: white;
                    width: 400px;
                }
                .ant-input-number:focus{
                    box-shadow: unset;
                }
                .ant-input-number-focused{
                    box-shadow: unset;
                }
                .ant-input-number-group-addon{
                    background: transparent;
                    color: white;
                    border: 1px solid hsla(0,0%,100%,.12);
                }
                input{
                    
                    color: white;
                    height: 50px;
                }
            }
            .input-check{
                margin-top: 15px;
                cursor: pointer;
                span{
                    color: white;
                }
            }
            button{
                width: 100%;
                background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                border: none;
                height: 40px;
                border-radius: 8px;
                margin-top: 15px;
                cursor: pointer;
            }
            button.no-active{
                opacity: 0.5;
                cursor: default;
            }
        }
        
    }
    .bank-history{
        border-top: 1px solid hsla(0,0%,100%,.12);
        margin-top: 40px;
        padding-top: 20px;
        .bank-table{
            .table-head{
                margin-bottom: 20px;
                .ant-select{
                margin-right: 20px;
                .ant-select-selector{
                    background: transparent;
                    color: white;
                    border: 1px solid hsla(0,0%,100%,.12);
                    height: 40px;
                    border-radius: 5px;
                }
            }
            }
            
        }
    }
}