.card-exchange{
    h1{
        font-size: 24px;
        color: white;
    }
    &-alert{
        padding: 10px;
        border: 1px solid #ffca06;
        color: #ffca06;
        border-radius: 8px;
        margin-top: 20px;
        .anticon-alert{
            margin-right: 10px;
        }
    }
}