.card-exchange-list{
    gap: 10px;
    &-item{
        flex: calc((100% - 50px)/6);
        padding: 10px;
        background: transparent;
        border: 1px solid hsla(0,0%,100%,.12);
        border-radius: 5px;
        .card-image{
            img{
                width: 54px;
                height: 36px;
            }
        }
    }
}