.change-pass{
    h1{
        font-size: 24px;
        color: white;
    }
    .content-form {
    margin-top: 24px;
        display: flex;
    .form-email {
        margin-bottom: 12px !important;

        input::placeholder {
            color: #4b4a60;
        }

        .email-input {
            padding: 0;
            max-height: 100%;
            box-shadow: unset;
            border: 1px solid hsla(0,0%,100%,.12);

            &:focus {
                box-shadow: unset;
            }

            .email-icon {
                color: #9f9bab;
                margin: 0 4px 0 16px;
            }

            input {
                height: 46px;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                padding: 6px 12px;
                background-color: transparent;
            }
        }
    }

    .ant-form-item-has-error {

        .email-input {
            border-color: #ff4d4f;
            background: transparent;
        }
    }

    .form-password {
        margin-bottom: 20px !important;

        input::placeholder {
            color: #4b4a60;
        }

        .password-input {
            max-height: 100%;
            box-shadow: unset;
            border: 1px solid hsla(0,0%,100%,.12);

            &:focus {
                box-shadow: unset;
            }

            .password-icon {
                color: #9f9bab;
                margin: 0 4px 0 16px;
            }

            input {
                height: 46px;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                padding: 6px 12px;
                background-color: transparent;
            }

            .ant-input-suffix {
                margin: 0 10px 0 0;
            }
            

            .ant-input-password-icon {
                font-size: 24px;
                color: #9f9bab;
            }
        }

        .form-btn {
            z-index: 5;
            padding: 0 1px;
            margin-bottom: 0 !important;
            background: linear-gradient(90deg, #4c5ffd -0.03%, #1841d3 100.03%);

            .btn-submit {
                box-shadow: unset;

                &:hover {
                    border: none;
                    background: none;
                }
            }
        }
    }

    .ant-form-item-control {
        max-width: 100%;
        .validate{
            margin-top: 10px;
            &-item{
                margin: 0;
                padding: 0;
                color: white;
                span{
                    margin-left: 10px;
                }
            }
            &-error{
                color: red;
            }
            &-success{
                color: green;
            }
        }
        
    }
    .form-password .form-btn{
        display: none;
    }
    .ant-form-item-label > label{
        color: white;
        margin-right: 90px;
    }
    .ant-btn{
        width: 100%;
        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
        border-radius: 8px;
        height: 40px;
        font-size: 14px;
    }
}
}
