.wallet-list{
    display: flex;
    gap: 15px;
    &-item{
        width: 30%;
        padding: 10px 0;
        background: rgba(80,129,255,.24);
        border-radius: 8px;
        cursor: pointer;
        img{
            width: 40px;
            height: 40px;
        }
        span{
            font-size: 14px;
            color: hsla(0,0%,100%,.6);
        }
    }
}