.history-card{
    margin-top: 20px;
    .sort-table{
        gap: 10px;
        margin-bottom: 20px;
        &-item{
            flex: 1;
            .ant-select{
                width: 100%;
                .ant-select-selector{
                    background: transparent;
                    border: 1px solid hsla(0,0%,100%,.12);
                    color: white;
                    border-radius: 5px;
                    height: 40px;
                }
            }
            .ant-input{
                background: transparent;
                border: 1px solid hsla(0,0%,100%,.12);
                color: white;
                border-radius: 5px;
                height: 40px;
            }
        }
    }
}