.login-histories{
    h1{
        font-size: 24px;
        color: white;
    }
}

.ant-table{
    background: transparent;
    border-radius: 8px;
    border: 1px solid hsla(0,0%,100%,.12);
    padding: 10px;
    .ant-table-tbody{
        color: white;
    }
    .ant-table-row:hover > td{
        background: transparent !important;
        color: white;
    }
    .ant-table-tbody > tr > td{
    border-bottom: 0;
    border-top: 1px solid hsla(0,0%,100%,.12);
    }
    .ant-table-thead > tr > th{
        background: transparent !important;
        border-bottom:0 !important;
        color: white !important;
    }
    
}
.ant-pagination{
justify-content: flex-start;
&-item{
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.12);
    a{
        color: white;
    }
}
.ant-pagination-item-active{
    background: #5081ff;
    border-color: #5081ff;
}
}
.ant-table-pagination.ant-pagination{
margin: 16px 0;
}
.ant-pagination-prev,.ant-pagination-next{
.ant-pagination-item-link{
    background: transparent;
    color: white;
    border: 1px solid hsla(0,0%,100%,.12);
}
}
.ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: transparent;
}
.ant-empty-image,.ant-empty-description{
    display: none;
}