.profile-edit{
    h1{
        font-size: 24px;
        color: white;
    }
    .profile{
        gap: 20px;
        &-item{
            flex: calc((100% - 20px)/ 2);
            .ant-input{
                background: transparent;
                border: 1px solid hsla(0,0%,100%,.12);
                color: white;
                height: 40px;
                border-radius: 5px;
            }
            
            .title{
                color: hsla(0,0%,100%,.6);
                font-size: 12px;
                margin: 0;
            }
            
        }
        .ant-btn-primary{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
            width: 150px;
            height: 35px;
            border: none;
            border-radius: 8px;
        }
        .ant-col-offset-8{
            margin-left: 0;
        }
    }
   
}
.ant-picker-panel-container{
    background: #13112e;
}
.ant-picker-header{
    color: white;
}
.ant-picker-input input{
    color: white;
    cursor: pointer;
}
.ant-picker-content th{
    color: white;
}
.ant-picker-cell{
    color: white;
}
.ant-picker-footer{
    display: none;
}
.ant-picker{
    width: 100%;
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.12);
    color: white;
    height: 40px;
    border-radius: 5px;
}
.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner{
    background: #13112e !important;
}
.ant-picker-suffix{
    color: white;
}