.recharge{
    h1{
        font-size: 24px;
        color: white;
    }
    &-content{
        &-item{
            display: flex;
            padding: 25px 20px;
            border: 1px solid hsla(0,0%,100%,.12);
            border-radius: 8px;
            margin-bottom: 20px;
            &-image{
                margin-right: 10px;
                img{
                    width: 48px;
                height: 48px;
                }
                
            }
            &-name{
                p{
                    font-size: 16px;
                    color: white;
                    font-weight: 600;
                    margin: 0;
                }
                span{
                    font-size: 14px;
                    color: hsla(0,0%,100%,.6);
                }
            }
        }
    }
}