.reward-points{
    h1{
        font-size: 24px;
    color: white;
    }
    &-content{
        .member{
            flex: 1;
            border: 1px solid hsla(0,0%,100%,.12);
            border-radius: 8px;
            margin-right: 20px;
            background: url(../../../../assets/images/rookie-bg.svg);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 30px 20px;
            .text-name{
                font-size: 22px;
                text-transform: uppercase;
                font-weight: 550;
            }
            img{
                width: 32px;
                height: 32px;
            }
            .ant-progress-outer{
                margin-right: 0;
                padding-right: 0;
            }
            .ant-progress-text{
                display: none;
            }
        }
        .history-point{
            flex: 2;
            .left{
                font-size: 20px;
                margin-bottom: 20px;
            }
            .pagination-point{
                .anticon-left,.anticon-right{
                    font-size: 16px;
                    cursor: pointer;
                }
                .page-point{
                    margin: 0 10px;
                }
            }
            .history-point-table{
                .ant-table-tbody{
                    display: none;
                }
            }
        }
    }
}