.account-profile-middle{
    gap: 10px;
    margin-bottom: 30px;
    .surplus,.reward-points{
        flex: 1;
        border: 1px solid hsla(0,0%,100%,.12);
        padding: 20px;
        border-radius: 8px;
        p{
            font-size: 18px;
        }
        img{
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
        span{
            font-size: 22px;
            text-align: center;
        }
        a{
            padding: 4px 12px;
            font-size: 16px;
            border-radius: 8px;
            color: white;
        }
    }
    .surplus{
        .money{
            color: #ffca06;
        }
        a{
            background: #cfa409;
            
        }
    }

    .reward-points{
        .point{
            color: #5081ff;
        }
        a{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
            
        }
    }
}