.sort-ware-house{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .search{
        flex: 1;
       .ware-house-search{
        input{
            background: hsla(0,0%,100%,.12);
            border: hsla(0,0%,100%,.12);
            padding: 9px 11px;
            color: white;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        button{
            background: hsla(0,0%,100%,.12);
            border: hsla(0,0%,100%,.12);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            height: 40px;
            .icon-search{
                font-size: 24px;
            }
        }
       }
    }
    .sort-space{
        flex: 2;
    }
    .sort-date{
        flex: 1;
    }
}