.type-card{
    margin-top: 20px;
    &-list{
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        &-item{
            flex: 1;
            .ant-select{
                width: 100%;
                .ant-select-selector{
                    background: transparent;
                    border: 1px solid hsla(0,0%,100%,.12);
                    color: white;
                    border-radius: 5px;
                    height: 40px;
                    .ant-select-selection-item{
                        line-height: 36px;
                    }
                }
            }
            .ant-input{
                background: transparent;
                border: 1px solid hsla(0,0%,100%,.12);
                color: white;
                border-radius: 5px;
                height: 40px;
            }
        }
        .anticon-delete{
            font-size: 24px;
            padding: 8px;
            background: #3a3e64;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .add-card{
        button{
            padding: 5px 10px;
            border-radius: 8px;
            background: green;
            border: none;
            cursor: pointer;
            width: 120px;
            height: 35px;
            font-weight: 550;
        }
    }
    .recharge{
        margin-top: 20px;
        button{
            padding: 5px 10px;
            border-radius: 8px;
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
            border: none;
            cursor: pointer;
            width: 200px;
            height: 35px;
            font-weight: 550;
        }
    }
}