.warehouse{
    h1{
        font-size: 24px;
        color: white;
    }
    &-tab{
        .ant-tabs-tab-btn{
            color: white;
        }
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
            color: white;
        }
        .ant-tabs-nav::before{
            border: 1px solid hsla(0,0%,100%,.12);
        }
        .ant-tabs-nav-operations{
            display: none !important;
        }
    }
}