.wishlists{
    h1{
        font-size: 24px;
        color: white;
    }
    .wishlists-content{
        
        &-item{
            padding: 20px;
        border: 1px solid hsla(0,0%,100%,.12);
        border-radius: 8px;
        margin-bottom: 20px;
                .wishlist-product-image{
            width: 48px;
            margin-right: 50px;
            border-radius: 5px;
            overflow: hidden;
        }
        .wishlist-product-name{
            p{
                margin: 0;
            }
            span{
                padding: 2px 10px;
                background: #5081ff;
                font-size: 12px;
                border-radius: 5px;
                margin-top: 5px;
            }
        }
        .money{
            color: #ffca06;
        }
        }
        
    }
}