.checkout{
    margin-top: 150px;
    margin-bottom: 50px;
    &-head{
        font-weight: 500;
        font-size: 24px;
    }
    &-container{
        gap: 20px;
        margin-top: 30px;
        @media screen and (max-width: 768px) {
            display: block;
        }
        @media screen and (min-width: 769px) {
            display: block;
        }
        @media screen and (min-width: 821px) {
            display: flex;
        }
        &-left{
            flex: 3;
            .ant-tabs-content-holder{
                border: none;
            }
            .ant-tabs-tab{
                padding: 0 !important;
                margin: 0 0 20px 0 !important;
                @media screen and (max-width: 768px) {
                    margin: 0 !important;
                }
            }
            .ant-tabs-nav-list{
                @media screen and (max-width: 768px) {
                    border: 1px solid hsla(0,0%,100%,.12);
                    border-radius: 8px;
                    overflow: hidden;
                    flex-direction: unset !important;
                }
            }
            .ant-tabs-ink-bar{
                display: none;
            }
            .ant-tabs-tab-active{
                background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                border-radius: 8px;
                @media screen and (max-width: 768px) {
                    border: 0;
                    border-radius: 0;
                }
            }
            .ant-tabs-left{
                @media screen and (min-width: 821px) {
                    display: flex;
                }
                @media screen and (max-width: 768px) {
                    display: block;
                }

            }

            
            .ant-tabs-tabpane{
                @media screen and (max-width: 768px) {
                    margin: 20px 0;
                    padding-left: 0 !important;
                }
                @media screen and (min-width: 821px) {
                    // display: flex;
                    
                }
                
            }
        }
        &-right{
            flex: 1;
            @media screen and (min-width: 769px) {
                margin-top: 20px;
            }
            @media screen and (min-width: 821px) {
                margin-top: 0;
            }
            &__top,&__bottom{
                padding: 20px;
                background: #272450;
                border-radius: 8px;
                
            }
            &__bottom{
                margin-top: 20px;
                .cost-discount{
                    border-bottom: 1px solid hsla(0,0%,100%,.12);
                    border-top: 1px solid hsla(0,0%,100%,.12);
                    .cost{
                        margin-top: 15px;
                    }
                    .cost,.discount{
                        margin-bottom: 15px;
                    }
                }
                .total-money{
                    margin: 15px 0;
                    font-size: 18px;
                    font-weight: 600;
                }
                button{
                    width: 100%;
                    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                    border-radius: 8px;
                    border: none;
                    color: white;
                    font-weight: 550;
                }
                button:hover{
                    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                    color: white;
                }
                .ant-btn[disabled]{
                    color: white;
                    opacity: 0.6;
                    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                }
            }
        }

    }
}

.color-money{
    color: #ffca06;;
}