.code-discount{
    color: #5081ff;
    cursor: pointer;
    .anticon-setting{
        margin-right: 10px;
        font-size: 1.1rem;
    }
    
}
.ant-modal-content{
    border: 3px solid #272450;
    background-color: #272450;
    .ant-modal-body{
        color: white;
        p{
            font-size: 16px;
            font-weight: 500;
        }
        .enter-discount{
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            input{
                width: 100%;
                background-color: rgba(19,17,46,.36);
                color: #f8f8f8;
                outline: none;
                border: none;
                padding: 10px;
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(19,17,46,.36);
                color: #f8f8f8;
                outline: none;
                border: none;
                padding: 10px;
                color: #ffca06;
                width: 100px;
                cursor: pointer;
            }
        }
        .code{
            margin-top: 10px;
        }
        span{
            color: hsla(0,0%,100%,.6);
            font-size: 14px;
        }
        
    }
    .ant-modal-footer{
        display: flex;
        .ant-btn-default,.ant-btn-primary{
            flex: 1;
            border-radius: 8px;
            color: white;
        }
        .ant-btn-default{
            background: #3a3e64;
            border-color: #3a3e64;
        }
    }
}
.ant-modal-close-x{
    background: #272450 !important;
    color: white !important;
}
