.payment-product{
    
    &-item{
        display: flex;
        margin-bottom: 20px;
        img{
            width: 52px;
            height: 70px;
        }
        .name{
            margin-left: 10px;
            font-size: 12px;
            &-product{
                margin-bottom: 5px;
                font-weight: 600;
            }
            .quantity{
                color: hsla(0,0%,100%,.6);
                
            }
            .money{
                color: #ffca06;
                font-weight: 600;
            }
        }
    }
}