.tab-content-payment{
    width: 100%;
    background: #272450;
    border-radius: 8px;
    border: 1px solid hsla(0,0%,100%,.12);
    &-center{
        padding: 20px;
        .text-title{
            color: white;
            font-size: 16px;
            font-weight: 500;
           
        }
        .money-to-pay{
            background: rgba(19,17,46,.36);
            border-radius: 8px;
            margin-top: 20px;
            &-content{
                padding: 15px;
                p{
                    color: #ffca06;
                    font-weight: 600;
                    font-size: 14px;
                }
                span{
                    color: hsla(0,0%,100%,.6);
                    font-size: 14px;
                   
                }
                img{
                    width: 56px;
                    height: 32px;
                    display: block;
                }
            }
            .bank-pay-content{
                padding: 30px 15px;
                p{
                    color: white;
                    font-weight: 600;
                    font-size: 14px;
                    margin: 0;
                }
                span{
                    color: hsla(0,0%,100%,.6);
                    font-size: 14px;
                   
                }
                img{
                    width: 56px;
                    height: 32px;
                }
            }
            .selected-item{
                border: 1px solid #5081ff;
                border-radius: 8px;
                background: rgba(80,129,255,.24);
            }
            
            
        }
        .card-pay{
            &-content{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin: 20px 0;
                &-item{
                    background: rgba(19,17,46,.36);
                    border-radius: 8px; 
                    width: calc((100% - 40px) / 5);
                    border: 1px solid hsla(0,0%,100%,.12);
                    padding: 10px 0;
                    @media screen and (max-width: 768px) {
                        width: calc((100% - 20px) / 3);
                    }
                    p{
                        color: white;
                        font-weight: 600;
                        font-size: 12px;
                        margin: 0;
                    }
                    span{
                        color: hsla(0,0%,100%,.6);
                        font-size: 12px;
                       
                    }
                    img{
                        width: 56px;
                        height: 32px;
                    }
                }
            }
        }
        .note{
            border: 1px solid #ffca06;
            border-radius: 8px;
            background: rgba(19,17,46,.36);
            &-content{
                padding: 10px;
                .anticon-alert{
                    color: #ffca06;
                    margin-top: 5px;
                }
                p{
                    color: #ffca06;
                }
                span{
                    color: hsla(0,0%,100%,.6);
                    font-size: 14px;
                }
            }
        }
        
        .border-pay{
            border: 1px solid hsla(0,0%,100%,.12);
        }
        .muakey-wallet{
            display: flex;
            margin-top: 20px;
            &-image{
                width: 24px;
                height: 24px;
                margin-right: 40px;
                line-height: 40px;
            }
            &-text{
                p{
                    font-size: 16px;
                    margin: 0;
                    color: white;
                }
                span{
                    color: white;
                }
            }
        }
    }
}

