.tab-payment{
    
    &-content{
        display: flex;
        background: transparent;
        width: 240px;
        height: 70px;
        color: white;
        border-radius: 8px;
        border: 1px solid hsla(0,0%,100%,.12);
        line-height: 70px;
        @media screen and (max-width: 768px) {
            width: calc(360px / 4);
            border-radius: 0;
            border: 0;
        }
        
        .payment-image{
            width: 48px;
            height: 48px;
            img{
                width: 100%;
                height: auto;
                margin-left: 10px;
            }
        }
        
        .text-payment{
            font-size: 16px;
            margin:0 30px 0 20px;
            @media screen and (max-width: 768px) {
                display: none;
            }
            
        }
    }    
    
}