.category-head{
    &-link{
        font-size: 14px;
        a{
            color: hsla(0,0%,100%,.6);
        }
        .anticon-right{
            color: hsla(0,0%,100%,.6);
            font-size: 10px;
            margin: 0 3px;
        }
        .cate-active{
            color: white;
        }
    }
    &-title{
        display: flex;
        justify-content: space-between;
        margin: 0;
        p{
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
            @media screen and (min-width: 769px) {
                font-size: 20px;
            }
            @media screen and (min-width: 821px) {
                font-size: 36px;
            }
        }
        &__filter{
            width: 70px;
            height: 35px;
            background: #3a3e64;
            text-align: center;
            line-height: 35px;
            font-size: 20px;
            border-radius: 8px;
            .text-filter{
                font-size: 14px;
                font-weight: 500;
            }
            @media screen and (min-width: 821px) {
                display: none;
            }
        }
        margin: 15px 0 5px 0;
        
          
    }
    .sub-heading{
        color: hsla(0,0%,100%,.6);
    }
}