.category-content{
    padding: 30px 0;
    &-search{     
        
        .ant-space-vertical{
            padding: 30px 10px;
            background: #272450;
            border-radius: 8px;
            width: 90%;
        }
        .ant-input-group-wrapper{
            padding: 0;
            border: none;
            background-color:#3a3e64;
            border-radius: 8px;
            overflow: hidden;
            max-height: 40px;
            input{
                background-color: #3a3e64;
                outline: none;
                padding: 15px 10px;
                font-size: 12px;
            }
        }
        .ant-input-wrapper{
            margin-left: 0;
            background-color:#3a3e64;
        }
        .ant-input-search-icon{
            color: white;
            font-size: 20px;
        }
        .ant-input-search-icon::before{
            position: unset;
        }
        
    }
}