.category-sort{
    .product-tab{
        margin-top: 60px;
        
        &-nav{
            position: relative;
            .sort-by{
            position: absolute;
            top: 10px;
            left: 0;
            }
            .quantity-product{
                position: absolute;
                top: 10px;
                right: 0;
                @media screen and (max-width: 768px) {
                    display: none;
                }
                @media screen and (min-width: 769px) {
                    display: none;
                  }
                  @media screen and (min-width: 821px) {
                    display: block;
                  }
            }
            .ant-tabs-bar{
                border: none;
                display: flex;
                justify-content: center;
            }
            .ant-tabs-nav-wrap{
                
                border-radius: 8px;
                @media screen and (max-width: 768px) {
                    display: none;
                }
                @media screen and (min-width: 769px) {
                    display: none;
                  }
                  @media screen and (min-width: 821px) {
                    display: block;
                  }
            }
            .ant-tabs{
                overflow: unset;
            }
            .ant-tabs-nav::before{
                border: none;
            }
            .ant-select-arrow{
                color: white;
            }
            
            .ant-tabs-nav-container-scrolling{
                padding: 0;
            }
            .ant-tabs-nav-scroll{
                overflow-x: scroll;
                
                @media screen and (min-width: 769px) {
                    overflow: unset;
                }
            }
            .ant-tabs-tab{
                margin-right: 0 !important;
                border-radius: 0 !important;
                border: none !important;
                background: #3a3e64 !important;
                color: white !important;
                font-size: 16px;
                padding: 10px 16px !important;
                @media screen and (max-width: 768px) {
                    margin-right: 10px !important;
                    border-radius: 8px !important;
                }
            }
    
            .ant-tabs-tab-prev,.ant-tabs-tab-next{
                display: none;
            }
            
            .ant-tabs-tab-active{
                background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%) !important;
                .ant-tabs-tab-btn{
                    color: white;
                }
            }
            
        }
        
        &-view_more{
            display: flex;
            justify-content: center;
            .ant-btn{
                background: #3a3e64;
                color: white;
                border: none;
                border-radius: 5px;
                height: 35px;
                margin-top: 10px;
                @media screen and (max-width: 768px) {
                    width: 90%;
                }
            }
        }
    }
    .tab-item{
        position: relative;

        .ant-tabs-nav-wrap{
            width: 100%;
        }
        .ant-tabs-bar{
            border: none;
            display: flex;
            justify-content: unset;
            gap: 10px;
            margin-left: 100px;
        }
        .ant-tabs-tab{
            margin-right: 10px !important;
            border-radius: 8px !important;
            margin-bottom: 10px !important;
        }
        .select-category{
            width: 150px !important;
            position: absolute;
            top: 0;
            
            border-radius: 8px;
            overflow: hidden;
            @media screen and (max-width: 768px) {
                right: 0;
            }
            @media screen and (min-width: 769px) {
                right: 0;
              }
              @media screen and (min-width: 821px) {
                right: 330px;
              }
            .ant-select-selector{
                height: 42px;
                background-color: #3a3e64;
                border: none;
                color: white;
                padding: 5px 15px;
            }
        }
    }
}
.category-product{
    @media screen and (max-width: 768px) {
        margin-top: 30px;
    }
    @media screen and (min-width: 769px) {
        margin-top: 30px;
      }
      @media screen and (min-width: 821px) {
        margin-top: 0;
      }
}

