.category-product{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px !important;
    margin-right: -12px !important;
    @media screen and (max-width: 768px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &__item{
        border-radius: 5px;
        padding: 10px 10px 0 10px;
        .add-cart{
            position: relative;
            @media screen and (max-width: 768px) {
                display: flex;
            }
            &__hover{
                overflow: hidden;
                position: relative;
                border-radius: 5px 5px 0 0;
                @media screen and (max-width: 768px) {
                    border-radius: 5px 0 0 5px;
                    width: 136px;
                }

                overflow: hidden;
                .btn-add-cart{
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    bottom: auto;
                    right: auto;
                    transform: translate(-50%,-50%);
                    .ant-btn{
                        background: #272450;
                        border: none;
                        color: white;
                        border-radius: 5px;
                        text-align: center;
                        width: 150px;
                        height: 40px;
                        
                    }
                }
                
                .sold-quantity{
                    width: 40%;
                    text-align: center;
                    position: absolute;
                    right: -1px;
                    bottom: -1px;
                    border-radius: 3px;
                    overflow: hidden;
                    display: flex;
                    height: 25px;
                    line-height: 25px;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                    
                    .sold{
                        flex: 1;
                        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                        font-size: 11px;      
                        color: white;
                    }
                }
                
                
                img{
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                    z-index: 8;
                }
                
            }

            &__hover:hover{
                img{
                    transform: scale(1.1);
                }
                .btn-add-cart{
                    opacity: 1;
                }
                
            }
            .price-title{
                background: #272450;
                width: 100%;
                padding: 10px 10px 0 10px;
                border-radius: 0 0 5px 5px;
                @media screen and (max-width: 768px) {
                    border-radius: 0 5px 5px 0;
                }
                .title{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: 500;
                    font-size: 16px;
                    color: #f8f8f8;
                    line-height: 1.375;
                    height: 44px;
                }
                .quantity-sold{
                    color: hsla(0,0%,100%,.6);
                    font-size: 14px;
                    font-weight: 600;
                    @media screen and (max-width: 768px) {
                        display: block;
                    }
                    @media screen and (min-width: 769px) {
                        display: none;
                    }
                    @media screen and (min-width: 821px) {
                       display: none;
                      }
                }
                .price{
                    color: #ffca06;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    padding-bottom: 10px;
                }
            }
            
        }
        @media screen and (min-width: 769px) {
            width: 25%;
        }
        @media screen and (min-width: 821px) {
            width: 20%;
        }
        
        
    }
    &__item:hover{
        background:linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
        .price-title{
            background:linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
        
        }
    }
    @media screen and (max-width: 768px) {
        gap: 10px;
        &__item{
            width: 100%;
            padding: 0;
        }
    }
}
