.ml-0.ant-pagination{
    margin-left: 0;
}
.input-number{
    .minus{
        font-size: 20px;
        font-weight: 550;
        margin: 0 3px;
    }
}
.ant-input-number{
    background-color: hsla(0,0%,100%,.12) ;
    color: white ;
    width: 120px;
    border-radius: 8px;
    border: none;
    height: 40px;
    line-height: 40px;
}
.category-filter{
    margin-top: 15px;
    @media screen and (max-width: 768px) {
        display: none;
      }
      @media screen and (min-width: 769px) {
        display: none;
      }
    
      @media screen and (min-width: 821px) {
        display: block;
      }
    &-item{
        ul{
            list-style-type: none;
            padding: 0;
            height: 120px;
            overflow: hidden;
            li{
                margin-bottom: 10px;
                span{
                    color: white;
                    font-size: 14px;
                }
            }
            
        }
        .view-more{
            color: #5081ff;
            font-weight: 600;
            cursor: pointer;
            .anticon-up,.anticon-down{
                font-size: 12px;
            }
        }
        .auto-scroll{
            overflow: auto;
        }
        ul::-webkit-scrollbar {
            width: 2px;
        }
        
        ul::-webkit-scrollbar-thumb {
          background: rgb(121, 121, 121); 
          border-radius: 10px;
        }
        .ant-checkbox-inner{
            background-color: transparent;
        }
        .ant-input-number-handler{
            width: unset;
        }
       
        
    }
}
.input-number span{
    margin: 0;
}
.ant-input-number-handler-wrap{
    width: 20px;
}
.ant-input-number-handler-up:hover,.ant-input-number-handler-down:hover{
    height: 50% !important;
}
.ant-input-number-handler-up-inner,.ant-input-number-handler-down-inner{
    top: 20%;
    color: black;
    font-size: 14px !important;
}
.btn-cate-product{
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    @media screen and (max-width: 768px) {
        justify-content: space-between;
      }
      @media screen and (min-width: 769px) {
        justify-content: space-between;
      }
    
      @media screen and (min-width: 821px) {
        justify-content: unset;
      }
    &__list{
        display: flex;
        margin-left: 30px;
        margin-right: 212px;
        @media screen and (max-width: 768px) {
            display: none;
          }
          @media screen and (min-width: 769px) {
            display: none;
          }
        
          @media screen and (min-width: 821px) {
            display: flex;
          }
        &--item{
            background: #3a3e64;
            color: white;
            width: 100px;
            height: 40px;
            margin-right: 15px;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;
        }
        select{
            width: 150px;
            background: #3a3e64;
            border: none;
            border-radius: 8px;
            height: 40px;
            cursor: pointer;
            text-indent: 10px;
        }
        .cate-pro-active{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
        }
    }
}
.remove-filter{
    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
    border: none;
    border-radius: 8px;
    width: 100%;
    color: white;
    font-weight: 550;
}
.remove-filter:hover{
    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
    color: white;
}
.remove-filter:focus{
    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
    color: white;
}