.category-list-btn{
    display: flex;
    gap: 15px;
    overflow: auto;
    @media screen and (min-width: 769px) {
        overflow: unset;
        flex-wrap: wrap;
     }

    button{
        background: #3a3e64;
        border: none;
        border-radius: 8px;
        color: white;
        height: 40px;
        font-size: 14px;
    }
    button:hover,button:focus{
        background: #3a3e64;
        color: white;
    }
    &__active{
        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%) !important;
    }
}