.ant-pagination{
    margin-top: 30px;
    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
    @media screen and (min-width: 769px) {
        margin-left: 0;
     }
     @media screen and (min-width: 821px) {
        margin-left: 10px;
       }
}
a.ant-pagination-item-link{
    background-color: transparent !important;
    border: 1px solid hsla(0,0%,100%,.12) !important;
    color: white !important;
}
.ant-pagination-item{
    min-width: 35px;
    height: 35px;
    background: transparent;
        border: 1px solid hsla(0,0%,100%,.12);
    a{
        color: white !important;
    }
}
.ant-pagination-item:hover{
    border: 1px solid hsla(0,0%,100%,.12);
}

.ant-pagination-prev,.ant-pagination-next{
    min-width: 35px;
    height: 35px;
    button{
        background-color: transparent !important;
        border: 1px solid hsla(0,0%,100%,.12) !important;
        color: white !important;
    }
}
.ant-pagination-disabled{
    cursor: default;

}
.ant-pagination-item-active{
    background: #5081ff;
    border: 1px solid #5081ff;
}
.ant-pagination-item-active:hover{
    border: 1px solid #5081ff;
}