.category-content-search-input{
    margin-right: 20px;
    padding: 30px 20px;
    background: #272450;
    position: relative;
    border-radius: 8px;
    input{
        width: 100%;
        background: hsla(0,0%,100%,.12);
        outline: none;
        border: none;
        height: 40px;
        border-radius: 8px;
        text-indent: 10px;
    }
    .icon-search{
        position: absolute;
        top: 40px;
        right: 32px;
        cursor: pointer;
        z-index: 8;
        font-size: 20px;
    }
}

.vertical{
    .category-content-search-input{
        margin-right: 0;
        padding: 0;
        .icon-search{
            top: 10px;
            right: 10px;
            
        }
    }
}