.list-product{
    .wrapper-list-products{
        margin-left: -10px;
        @media screen and (min-width: 769px) {
         margin-left: 0;
         margin-right: -15px;
        }
        &__item{
            display: flex;

            
            a{
                @media screen and (max-width: 768px) {
                    padding: 10px 10px 20px 10px;
                }
                @media screen and (min-width: 769px) {
                   padding: 0;
                }
                @media screen and (min-width: 821px) {
                    padding: 10px 10px 20px 10px;
                  }
                display: block;
                border-radius: 8px;
            }
            a:hover{
                background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
            }
            &--image{
                
                @media screen and (max-width: 768px) {
                    width: 100%;
                    height: auto;
                }
                @media screen and (min-width: 769px) {
                    width: 110px;
                    height: 126px;
                }
                @media screen and (min-width: 821px) {
                    width: 126px;
                height: 126px;
                  }
                img{
                    border-radius: 8px;
                }
            }
            &--name{
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                color: white;
                margin: 10px 0;
            }
        }
    }
}