.bg-color-light {
  background: $color_light;
}
.color-light {
  color: $color_light;
}
.color-dark {
  color: $color_dark;
}
.bg-color-dark {
  background: $color_dark;
}
.color-blue {
  color: $color_blue;
}
.primary-color{
  color: $primary_color;
}
.color-grey {
  color: $color-grey;
}

.bg-color-grey {
  background-color: $color-grey;
}
.color-green {
  color: $color_green;
}
.bg-color-green {
  background: $color_green;
}
.bg-color-red {
  background: $color_error;
}
.color-red-light {
  color: $color_red_light;
}
.bg-color-red-light {
  background: $color_red_light;
}
.bg-color-secondary-red {
  background: $color_secondary_red;
}
.color-secondary-red {
  color: $color_secondary_red !important;
}
.color-border {
  color: $color_border;
}
.bg-color-border {
  background: $color_border;
}
.color-code {
  color: $color_code;
}
