.comment-and-rate{
    margin: 40px 0;
    &-head{
        display: flex;
        border-bottom: 1px solid rgb(71, 69, 69);
        padding-bottom: 30px;
        gap: 25px;
        @media screen and (max-width: 768px) {
            gap: 10px;
        }
        .center{
            font-size: 18px;
            color: white;

            cursor: pointer;
            p{
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }
    &-body{
        
        .heading{
            font-size: 18px;
            margin: 20px 0;
        }
        .input-comment-rate{
            width: 100%;
            position: relative;
            .input-comment{
                gap: 10px;
                margin-top: 20px;
                position: relative;
                margin-right: 100px;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                  }
                input{
                    border-radius: 5px;
                    width: 100%;
                    background: #36354e;
                    color: #f8f8f8;
                    font-size: 14px;
                    border-color: #36354e;  
                    padding: 12px 0;
                    text-indent: 10px;
                    border: none;
                    
                }
                button{
                    border-radius: 5px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #36354e;
                    font-weight: 600;
                    font-size: 12px;
                    color: #e9e5e5;
                    border: none;
                    text-transform: uppercase;
                    height: 46px;
                }

            }
        }
        .rate{
            @media screen and (max-width: 768px) {
                display: none;;
              }
            display: flex;
            gap: 10px;
            margin-top: 20px;
            .count-comment,.count-star{
                padding: 30px 24px;
                text-align: center;
                width: 120px;
                font-size: 14px;
                color: hsla(0,0%,100%,.6);
                border: 1px solid hsla(0,0%,100%,.12);
                span{
                    color: white;
                    font-size: 22px;
                }
            }
            
        }
        .comment{
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            position: relative;
            @media screen and (max-width: 768px) {
               display: block;
            }
        }
        .reply-comment{
            margin-top: 30px;
            margin-left: 100px;
            position: relative;
            @media screen and (max-width: 768px) {
                .between{
                    display: block;
                }
                margin-left: 50px;
             }
        }
        .pagination-comment{
            margin-left: 0;
        }
    }
    .input-reply-comment{
        gap: 10px;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(71, 69, 69);
        position: relative;
        input{
            border-radius: 5px;
            width: 100%;
            background: #36354e;
            color: #f8f8f8;
            font-size: 14px;
            border-color: #36354e;  
            padding: 12px 0;
            text-indent: 10px;
            border: none;
        }
        button{
            border-radius: 5px;
            position: absolute;
            top: 0;
            right: 0;
            background: #36354e;
            font-weight: 600;
            font-size: 12px;
            color: #e9e5e5;
            border: none;
            text-transform: uppercase;
            height: 46px;
        }
    }
    
    .name-user{
        margin-left: 10px;
        .user{
            text-transform: capitalize;
        }
        img{
            margin-right: 5px;
        }
        .name{
            color: hsla(0,0%,100%,.6);
            text-transform: uppercase;
        }
        .content-comment{
            margin: 5px 0;
        }
        .like-reply{
            color: hsla(0,0%,100%,.6);
            .like{
                margin-right: 20px;
                @media screen and (max-width: 768px) {
                    margin-right: 5px;
                }
            }
            .like,.reply{
                cursor: pointer;
            }
        }
    }
    .time-ago{
        color: hsla(0,0%,100%,.6);
        .sold{
            @media screen and (max-width: 768px) {
                position: absolute;
                top: 30px;
                right: 0;
            }
        }
        .star{
            @media screen and (max-width: 768px) {
                position: absolute;
                top: 0;
                right: 0;
            }
            margin-left: 20px;
            .anticon-star{
                font-size: 16px;
                margin-left: 3px;
            }
        }
        @media screen and (max-width: 768px) {
            margin-left: 45px;
        }
    }
    .user-comment{
        img{
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
        
    }
    .between{
        justify-content: space-between;
    }
}