.detail-product{
    width: 90%;
    margin: auto;
    margin-top: 150px;
    .head-link{
        font-size: 14px;
        a{
            color: hsla(0,0%,100%,.6);
        }
        .anticon-right{
            color: hsla(0,0%,100%,.6);
            font-size: 10px;
            margin: 0 3px;
        }
        .detail-active{
            color: white;
        }
    }
    .product-row{
        display: flex;
        margin-top: 20px;
        @media screen and (max-width: 768px) {
            display: block;
          }
        .product-left{
            margin-right: 30px;
            @media screen and (max-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #272450;
                margin-right: 0;
              }
            
            .product-image{
                width: 165px;
                height: 222px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    transition: 0.5s;
                }
            }
            .product-image:hover img{
                transform: scale(1.1);
            }
        }
        .product-right{
            .product-name{
                font-weight: 600;
                font-size: 24px;
                color: #f8f8f8;
                margin-bottom: 10px;
                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    margin-top: 20px;
                  }
            }
            .product-review{
                &__star{
                    .anticon-star{
                        margin-right: 3px;
                        font-size: 20px;
                    }
                }
                &__count{
                    color: hsla(0,0%,100%,.6);
                    margin: 0 10px;
                }
                &__sold{
                    span{
                        color: #5081ff;
                        margin-left: 3px;
                    }
                }
            }
           .product-area{
            margin-top: 20px;
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
              }
            &-active{
                @media screen and (max-width: 768px) {
                    flex: 50%;
                  }
                &__image{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
                
                .product-area-activated{
                    .area-activated-at{
                        &__image{
                            width: 16px;
                            height: 16px;
                        }
                        
                    }
                    .can-active{
                        color: hsla(0,0%,100%,.6);
                        margin-top: 5px;
                    }
                }
            }
            .product-brand{
                @media screen and (max-width: 768px) {
                    flex: 50%;
                  }
            }
            .product-work-mobile{
                @media screen and (max-width: 768px) {
                    flex: 50%;
                    margin-top: 20px;
                  }
               }
           }
           
        }
    }
    .alert{
        margin-top: 20px;
        &-content{
            padding: 20px;
            border: 1px solid #ffca06;
            border-radius: 8px;
            .anticon-alert{
                color: #ffca06;
                font-size: 20px;
                margin-right: 15px;
            }
            
        }
    }
    p{
        margin: 0;
        padding: 0;
    }
}

.product-order{
    margin-top: 20px;
    position: relative;
    
    @media screen and (max-width: 768px) {
        margin-bottom: 70px;
      }
    .product-bell{
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 40px;
            .anticon-bell{
                margin: 0 !important;
            }
          }
    }
    .product-favorite{
        margin-left: 10px;
        cursor: pointer;
        .icon-heart{
            font-size: 20px;
        }
        .text-favorite{
            color: hsla(0,0%,100%,.6);
            font-size: 14px;
            margin-left: 5px;
        }
    }
    .favorite-active{
        color: #fe5252 ;
    }
    .favorite-active .text-favorite{
        color: #fe5252;
    }
}
.btn-order{
    button{
        font-weight: 600;
        font-size: 12px;
        color: #f8f8f8;
        border-radius: 4px;
        padding: 0 7px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgb(80, 129, 255);
        cursor: default;
        border: none;
    }
}
.btn-order:hover button{
    background: rgb(80, 129, 255);
    color: #f8f8f8;
}

.text-12{
    font-size: 12px;
    color: hsla(0,0%,100%,.6);
}
.flex-1{
    flex: 1;
}
.fz-12{
    font-size: 12px;
}
.fw-600{
    font-weight: 600;
}

.order-product{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
    @media screen and (max-width: 768px) {
        display: block;
      }
    &__left{
        display: flex;
        
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            gap: 20px;
        }
        @media screen and (min-width: 769px) {
            gap: 0;
        }
        @media screen and (min-width: 821px) {
            gap: 20px;
        }
        .card{
            padding: 15px;
            background: #272450;
            border-radius: 8px;
            border: 2px solid transparent;
            height: 115px;
            cursor: pointer;
            &-image{
                width: 60px;
                height: 80px;
                @media screen and (max-width: 768px) {
                    width: 100px;
                  }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            display: flex;
            &-center{
                padding: 0 10px;
                &-name{
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 20px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    @media screen and (max-width: 768px) {
                        margin-bottom: 0;
                      }
                }

            }
            .product-price{
                color: #ffca06;
                font-weight: 600;
                font-size: 16px;
            
            }
        }
        .card-active{
            background: #373376;
            border: 2px solid #5081ff;
        }
    }
    &__right{
        @media screen and (max-width: 768px) {
            margin-top: 30px;
          }
        &--quantity{
            background: #272450;
            padding: 16px 24px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            .label{
                display: flex;
                align-items: center;
                margin-right: 120px;
                @media screen and (max-width: 768px) {
                    margin-right: 120px;
                  }
            }
            .quantity-control{
                display: flex;
                align-items: center;
                .quantity{
                    margin: 0 20px;
                }
                .anticon-minus,.anticon-plus{
                    cursor: pointer;
                }
            }
        }
        &--money{
            background: #272450;
            padding: 16px 24px;
            border-radius: 8px;
            margin-top: 10px;
            .cost,.discount,.line,.total-money{
                margin-bottom: 20px;
            }
            .total-money{
                font-size: 18px;
            }
            .line{
                height: 0.5px;
                width: 100%;
                background-color: hsla(0,0%,100%,.12);
            }
            .cart-now-buy{
                button{
                    width: calc(50% - 10px);
                    background: #3a3e64;
                    border: none;
                    color: white;
                    border-radius: 8px;
                    height: 40px;
                }
                .now-buy{
                    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                }
            }
        }
    }
}

.between{
    justify-content: space-between;
}
.color-money{
    color: #ffca06;
}


.des-detail{
    .head{
        font-size: 20px;
        margin: 30px 0 15px 0;
    }
    p{
        margin-bottom: 10px;
    }
    iframe{
        margin: 20px 0 40px 0;
        width: 30%;
        @media screen and (max-width: 768px) {
           width: 100%;
         }
    }
}

.connexion{
    margin-bottom: 50px;
    .sale-slider{
        width: 100%;
        &__item{
           .add-cart{
                &__hover{
                        border: none;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        cursor: pointer;
                        .sold-quantity{
                            background: transparent;
                            justify-content: flex-end;
                            .incredibly-cheap{
                                display: none;
                            }
                            .sold{
                                border-radius: 0;
                                clip-path: none;
                                padding: 0 5px;
                            }
                        }
                    }
                    .price-title{
                        width: 100%;
                    }
            } 
        }
        
        
    }
    
}

.title-head{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 50px;
    a{
        padding: 5px 10px;
        background: #3a3e64;
        color: white;
        font-size: 14px;
        border-radius: 8px;
        font-weight: 600;
    }
}