@import './../../assets/scss/variables';

.ant-layout-sider {
  background: $color_light;
  box-shadow: 5px 2px 10px rgba($color_dark, 0.1);
}
.logo {
  // background: rgba(255, 255, 255, 0.3);
  
  padding: 15px 0;
  img {
    object-fit: cover;
    max-width: 80%;
    max-height: 80px;
    display: inline-block;
  }
}

.toggleLayout {
  // padding: 16px 18px;
  background-color: transparent;
}

// Sidebar
.sidebar-full-height {
  height: 85%;
}
.btn-toggle{
  height: 24px;
  width: 24px;
  margin-left: 12px;
  top: 40px;
  background: #E6EFF4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  z-index: 14;
}