.contact{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 140px;
    width: 75px;
    z-index: 9;
    background: #302e47;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        height: 70px;
        bottom: 90px;
    }
    @media screen and (min-width: 769px) {
        height: 70px;
        bottom: 90px;
    }
    @media screen and (min-width: 821px) {
        height: 140px;
        bottom: 20px;
    }
    &-item{
        height: 70px;
        font-size: 11px;
        font-weight: 500;
        cursor: pointer;
        &-image{
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    &-item:hover{
        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
    }
    .group-game{
        @media screen and (max-width: 768px) {
            display: none;}
        @media screen and (min-width: 769px) {
            display: none;
        }
        @media screen and (min-width: 821px) {
            display: block;
        }
    }
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    position: fixed;
    bottom: 200px;
    right: 20px;
    z-index: 9;
    cursor: pointer;
    &-image{
        width: 60px;
        height: 60px;
        img{
            padding: 8px 8px;
            border-radius: 50%;
            background: #c3cbd3;
            width: 100%;
            height: auto;
        }
    }
}