@import "../../../../assets/scss/variables";

.footer{
    width: 100%;
    border-top: 1px solid rgb(71, 69, 69);
    @media screen and (max-width: 768px) {
        margin-bottom: 90px;
    }
    &-container{
        width: 90%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 50px;
        .menu-link{
            margin-bottom: 10px;
            display: flex;
            gap: 1.5rem;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                color: white;
            }
            
        }
        .text-gray{
            color: $text_gray;
        }
        .email{
            margin-bottom: 15px;
            margin-top: 5px;
        }
        .social{
            margin-bottom: 10px;
            a{
                margin-right: 10px;
            }
        }
        .payment{
            display: flex;
            gap: 0.625rem;
            margin-bottom: 10px;
            
        }
        .input-width{
            @media screen and (max-width: 768px) {
                width:69%;   
               }
            @media screen and (min-width: 769px) {
             width:59%;   
            }
            @media screen and (min-width: 821px) {
                width: 75%;
            }
        }
        .ant-input{
            background-color:rgba(138, 135, 135, 0.12) ;
            color: #f8f8f8;
            font-size: 14px;
            border-color: rgba(138, 135, 135, 0.12);  
            border-radius: 8px 0 0 8px !important;
            padding: 7px 0;
            text-indent: 10px;
            border: none;
            
        }
        .ant-input:focus{
            box-shadow: none;
          }
        .ant-btn-primary{
            background: #36354e;
            border-radius: 0 8px 8px 0 !important;
            font-weight: 600;
            font-size: 12px;
            color: #e9e5e5;
            border: none;
            text-transform: uppercase;
            height: 36px;
        }
    }
}