// .header {
//   padding-top: 26px;
//   position: fixed;
//   width: 100%;
//   z-index: 9;
//   top: 0;
//   height: 136px;

//   &.sticky {
//     background-color: #13112e;
//   }
//   .logo {
//     display: flex;
//     align-items: center;
//   }

//   @media screen and (min-width: 821px) {
//     .mobile-left-0{
//       left: 62.5%;
//     }
//     .mobile-right-0{
//       right: 25%;
//     }
//   }
  
//   .logo{
   
//     img{
//       width: 100%;
//       height: 100%;
//     }
//     @media screen and (max-width: 768px) {
//       width: 90px;
//       height: 18px;
      
//     }
//   }
  
//   .find {
//     .ant-select-selector {
//       border-top-left-radius: 8px !important;
//       border-bottom-left-radius: 8px !important;
//       background-color: #48475d!important;
//       border-color: #48475d;
//       color: #fff;
//       font-weight: 600;
//     }
//     .ant-select-arrow {
//       color: #fff;
//     }
//     .ant-input {
//       background-color: #2f2e47;
//       color: #f8f8f8;
//       font-size: 14px;
//       border-color: #2f2e47;
//     }

//     .ant-btn-primary {
//       background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
//       border-radius: 0 8px 8px 0;
//       font-weight: 600;
//       font-size: 14px;
//       color: #f8f8f8;
//       border: none;
//     }
//   }
//   @media screen and (max-width: 768px) {
//     .full-width{
//       width: 100%;
//     }
//   }
//   .flex-end{
//     display: flex;
//     justify-content: flex-end;
//     @media screen and (min-width: 769px) {
//       .hidden-element{
//         display: none;
//       }
//     }
//     @media screen and (min-width: 821px) {
//       .hidden-element{
//         display: block;
//       }
//     }
    
//   }

//   .account-login {
//     display: flex;
//     align-items: center;
//     gap: 0.2rem;

//     a {
//       text-decoration: none;
//       background-color: transparent;
//       font-size: 14px;
//       color: #f8f8f8;
//       font-weight: 500;
//     }
//     .avatar{
//       position: relative;
//       width: 32px;
//       height: 32px;
//       border-radius: 50%;
//       background: white;
//       margin-right: 5px;
//     }
//     .avatar::before{
//       content: "";
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
//     border: 1px solid #13112e;
//     background: #2db517;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     }
//   }
// }

// .header-menu {
//   position: relative;

//   .header-menu-items {
//     font-weight: 500;
//     display: flex;
//     align-items: center;
//     @media screen and (max-width: 768px){
//       overflow-x: scroll;
//       width: 90vw;
//     }
//     @media screen and (max-width: 820px) {
//       overflow-x: scroll;
//       width: 90vw;
//     }
//   }

//   .header-menu-item {
//     line-height: 1.4285714286;
//     display: flex;
//     min-width: -webkit-max-content;
//     min-width: -moz-max-content;
//     min-width: max-content;
//     color: hsla(0,0%,100%,.6);
//   }

//   .header-menu-link {
//     padding: 18px 32px 24px 0;
//     color: #FFFFFF99;

//     &:hover {
//       color: #fff;
//       .submenu {
//         display: block;
//         transition: all 0.25s;
//       }
//     }
//   }

//   .pointer {
//     cursor: pointer;
//   }

//   .align-items-center {
//     align-items: center!important;
//   }

//   .d-flex {
//     display: flex!important;
//   }

//   .submenu {
//     position: absolute;
//     width: 100%;
//     top: 100%;
//     left: 0;
//     background: #13112e;
//     padding: 24px 0 8px;
//     color: hsla(0,0%,100%,.6);
//     display: none;
//   }

//   .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
//   }

//   .row-cs {
//     margin-left: -12px;
//     margin-right: -12px;
//   }

//   .col {
//     flex-basis: 0;
//     flex-grow: 1;
//     max-width: 100%;
//   }

//   .mb-2, .my-2 {
//     margin-bottom: 0.5rem!important;
//   }

//   .col-cs {
//     padding-left: 12px;
//     padding-right: 12px;
//   }
  
//   .parent-item {
//     width: 100%;
//     display: block;
//     color: #f8f8f8;
//   }

//   .submenu-item {
//     width: 100%;
//     display: block;
//     margin-bottom: 4px;
//     font-weight: 400;
//     color: #FFFFFF99;

//     &:hover {
//       color: #fff;
//       transition: all 0.25s;
//     }
//   }
// }

html{
  scroll-behavior: smooth;
}
.header {
  padding-top: 26px;
  position: fixed;
  // background: #13112e;
  background: transparent;
  width: 100%;
  z-index: 9;
  top: 0;
  height: 136px;
  &-container{
    width: 90%;
    margin: auto;
  }
  @media screen and (max-width: 768px) {
    .mobile-left-0{
      left: 0;
    }
    .mobile-right-0{
      right: 0;
    }
  }
  @media screen and (min-width: 769px) {
    .mobile-left-0{
      left: 62.5%;
    }
    .mobile-right-0{
      right: 20.83333333%;
    }
  }

  @media screen and (min-width: 821px) {
    .mobile-left-0{
      left: 62.5%;
    }
    .mobile-right-0{
      right: 25%;
    }
  }
  
  .logo{
   
    img{
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 768px) {
      width: 90px;
      height: 18px;
      
    }
  }
  
  .find {
    @media screen and (max-width: 768px) {
      .header-search{
        display: flex;
        margin-top: 15px;
      }
      input{
        flex: 1;
      }
      
    }
    
    .ant-select-selector {
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
      background-color: #48475d !important;
      border-color: #48475d;
      color: #fff;
      font-weight: 600;
      height: 36px;
    }
    .ant-select-arrow {
      color: #fff;
    }
    .ant-input {
      background-color: #2f2e47;
      color: #f8f8f8;
      font-size: 14px;
      border-color: #2f2e47;
      padding: 7px 0;
      text-indent: 10px;
      border: none;
    }
    .ant-input:focus{
      box-shadow: none;
    }

    .ant-btn-primary {
      background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
      border-radius: 0 8px 8px 0;
      font-weight: 600;
      font-size: 14px;
      color: #f8f8f8;
      border: none;
      height: 36px;
    }
  }
  @media screen and (max-width: 768px) {
    .full-width{
      width: 100%;
    }
  }
  .flex-end{
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 769px) {
      .hidden-element,.header-right{
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      .hidden-element,.header-right{
        display: none;
      }
    }
    @media screen and (min-width: 821px) {
      .hidden-element{
        display: block;
      }
      .header-right{
        display: flex;
      }
    }
    
  }

  .account-login {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    justify-content: flex-end;
    .personal{
      cursor: pointer;
    }
    .icon-account{
      background: white;
      color: black;
      border-radius: 50%;
      width: 25px;
      text-align: center;
    }
    a {
      text-decoration: none;
      background-color: transparent;
      font-size: 14px;
      color: #f8f8f8;
      font-weight: 500;
    }
    .avatar{
      margin-right: 5px;
      img{
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
    }

  }
}

.header-menu {
  position: relative;
  width: 100%;
  .header-menu-items {
    font-weight: 500;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px){
      overflow-x: scroll;
      width: 90vw;
    }
    @media screen and (max-width: 820px) {
      overflow-x: scroll;
      width: 90vw;
    }
  }

  .header-menu-item {
    line-height: 1.4285714286;
    display: flex;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    color: hsla(0,0%,100%,.6);
  }

  .header-menu-link {
    padding: 18px 32px 24px 0;
    color: #FFFFFF99;
    &:hover {
      color: #fff;
      .submenu {
        display: block;
        transition: all 0.25s;
        z-index: 9;
      }
    }
  }

  .pointer {
    cursor: pointer;
  }

  .align-items-center {
    align-items: center!important;
  }

  .d-flex {
    display: flex!important;
  }

  .submenu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #13112e;
    padding: 24px 0 8px;
    color: hsla(0,0%,100%,.6);
    display: none;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .row-cs {
    margin-left: -12px;
    margin-right: -12px;
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
  }

  .col-cs {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .parent-item {
    width: 100%;
    display: block;
    color: #f8f8f8;
  }

  .submenu-item {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    color: #FFFFFF99;

    &:hover {
      color: #fff;
      transition: all 0.25s;
    }
  }
  
}

.header-right{
  display: flex;
  gap: 15px;
  align-items: center;
  &-image{
    width: 24px;
    height: 24px;

    img{
      width: 100%;
      height: auto;
    }
  }
  .money{
    color: #ffca06;
  }
}

.hover-icon:hover{
  cursor: pointer;
  color: white !important;
}

.cart-icon{
  position: relative;
  p{
    position: absolute;
    top: -6px;
    right: -10px;
    background: red;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
  }
}