.nav-mobile-cotainer{
    position: fixed;
    bottom: 0;
    background: #13112e;
    width: 100%;
    z-index: 9;
    @media screen and (max-width: 768px) {
        display: block;
      }
      @media screen and (min-width: 769px) {
        display: block;
      }
    
      @media screen and (min-width: 821px) {
        display: none;
      }
    .nav-mobile{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        &-item{
            padding: 5px 5px 0 5px;
            color: #9f9bab;
            p{
                font-size: 11px;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
            }
        }
    }
}