.popover-personal{
    .link-personal{
        width: 300px;
        flex-wrap: wrap;
        margin-top: 20px;
        &-item{
            width: 80px;
            text-align: center;
            cursor: pointer;
        }
    }
}

.popover-noti{
    width: 250px;
    h1{
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        
    }
    &-content{
        border-bottom: 1px solid rgb(71, 69, 69);
        margin-bottom: 10px;
    }
    button{
        width: 100%;
        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
        color: white;
        border: none;
        border-radius: 8px;
        height: 35px;
        cursor: pointer;
    }
}

.popover-cart{
    width: 300px;
    h1{
        color: white;
        font-size: 16px;
        border-bottom: 1px solid rgb(71, 69, 69);
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .cart{
        height: 400px;
        overflow-y: scroll;
        margin-bottom: 20px;
        &-item{
            margin-bottom: 20px;
            img{
                width: 67px;
                height: 87px;
            }
            &-right{
                margin-left: 10px;
                .name{
                    display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                }
                .line2{
                    font-size: 12px;
                    color: hsla(0,0%,100%,.6);
                    line-height: 17px;
                    height: 34px;
                }
                .quantity{
                    padding: 0 10px;
                    border-radius: 8px;
                    background: hsla(0,0%,100%,.12);
                    font-size: 15px;
                    display: flex;
                    justify-content: space-around;
                    gap: 20px;
                    span{
                        cursor: pointer;
                    }
                }
                
            }
        }
        &-item:last-child{
            margin-bottom: 0;
        }
    }
    .cart::-webkit-scrollbar {
        width: 4px;
    }
    
    .cart::-webkit-scrollbar-thumb {
      background: rgb(121, 121, 121); 
      border-radius: 10px;
    }
    .sold{
        color: #ffca06;
    }
}

.ant-popover-arrow{
    .ant-popover-arrow-content::before{
        background: #1a173d;
    }
}
.ant-popover-content{
    border-radius: 8px;
    overflow: hidden;
}
.ant-popover-inner{
    background: #1a173d;
    .ant-popover-inner-content{
        color: white;
    }
}