.all-cate{
    width: 90%;
    margin: auto;
    margin-top: 70px;
    &__head{
        display: flex;
        justify-content: space-between;
        &--title{
            font-size: 24px;
            line-height: 1.4;
        }
        &--viewall{
            font-weight: 600;
            color: #ffca06;
        }
        &--viewall:hover{
            color: white;
        }
    }
    
}
