.flash-sale{
    background-image: url(../../../../assets/images/flash-sale-bg.png);
    background-position: 50%;
    background-repeat: no-repeat;
    &__title{
        padding-top: 30px;
    }
    
}