.container-pc{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    &-title{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        a{
            border-radius: 5px;
            height: 35px;
            line-height: 35px;
            width: 94px;
            background: transparent;
            color: white;
            border: 1px solid #5081ff;
            font-size: 14px;
            text-align: center;
            @media screen and (min-width: 769px) {
                display: none;
            }
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }

    
    .tab-item{
        position: relative;
        .view-more{
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 8px;
            font-size: 16px;
            text-align: center;
            padding: 7px 16px;
            background: transparent;
            color: white;
            border: 1px solid #5081ff;
            text-align: center;
            @media screen and (max-width: 768px) {
                display: none;
            }

              @media screen and (min-width: 821px) {
                display: block;
              }
        }
        .view-more:hover{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
        }
        .ant-tabs-nav{
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            @media screen and (min-width: 769px) {
                width: 85%;
              }
            
              @media screen and (min-width: 821px) {
                width: 85%;
              }
        }
        .ant-tabs-nav-wrap{
            justify-content: unset;
            
        }
        .ant-tabs-nav-list{
            flex-wrap: wrap;
        }
        .ant-tabs-bar{
            border: none;
            display: flex;
            gap: 10px;
        }
        .ant-tabs-tab{
            margin-right: 10px !important;
            border-radius: 8px !important;
            margin-bottom: 10px !important;
        }
        
    }
    
}