.game-mobile-gift-card{
    
    margin-top: 30px;
    background: url(../../../../assets/images/home-category-bg-2.png);
    background-position: 50%;
    background-repeat: no-repeat;
    .game-mobile,.gift-card{
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }
}