.gift-card-game{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 25px;
    @media screen and (max-width: 768px) {
     display: block;       
    }
    .gift-card-item{
        flex: 1;
        background: #181636;
        border-radius: 8px;
        
        .head{
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            padding: 15px 0;
            &-title{
                font-size: 18px;
                line-height: 1.4;
                margin-right: 5px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            &-viewmore{
                
                a{
                    border: 1px solid #1890ff;
                    border-radius: 5px;
                    display: block;
                    width: 90px;
                    height: 35px;
                    background: transparent;
                    text-align: center;
                    line-height: 32px;
                    color: white;
                }
                a:hover{
                    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                }
            }
        }
        .product-gift-card{
            overflow-y: scroll;
            width: 90%;
            margin: auto;
            height: 600px;
            margin-bottom: 20px;
            &__item{
                display: flex;
                gap: 10px;
                background: #272450;
                border-radius: 8px;
                margin-bottom: 20px;
                &--image{
                    width: 100px;
                    height: 135px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px 0 0 5px;
                    }
                }
                &--name{
                    display: flex;
                    align-items: center;
                    flex: 1;
                    .name{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        a{
                            color: white;
                            font-size: 16px;
                            text-transform: uppercase;
                        }
                    }
                    .sold{
                        color: hsla(0,0%,100%,.6);
                        font-weight: 600;
                    }
                    .price{
                        color: #ffca06;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }
        .product-gift-card::-webkit-scrollbar {
            width: 4px;
        }
        
        .product-gift-card::-webkit-scrollbar-thumb {
          background: rgb(121, 121, 121); 
          border-radius: 10px;
        }
    }
}