.home-category-one{
    background: url(../../../../assets/images/home-category-bg-1.png);
    background-position: top;
    background-repeat: no-repeat;
    .game-pc{
        width: 90%;
        margin: auto;
    }
}