.images-slider{
    margin: 50px 0 30px 0;
    &__item{
        width: 33% !important;
        @media screen and (max-width: 768px) {
            width: 100% !important; 
        }
        @media screen and (min-width: 769px) {
            width: 30% !important;
          }
        border-radius: 5px;
        overflow: hidden;
        a{
            img{
                width: 100%;
                // border-radius: 5px;
            }
        }
    }
}