.product-tab{
    margin-top: 60px;
    
    &-nav{
        position: relative;
        .view-all{
            position: absolute;
            top: 0;
            right: 192px;
            background: #3a3e64;
            display: block;
            width: 110px;
            height: 46px;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            color: #ffca06;
            font-size: 16px;
            line-height: 46px;
            text-align: center;
            @media screen and (max-width: 768px) {
                display: none;
            }
              
            @media screen and (min-width: 769px) {
                display: none;
            }
            
            @media screen and (min-width: 1280px) {
            display: block;
            }
        }
        .ant-tabs-bar{
            border: none;
            display: flex;
            justify-content: center;
        }
        .ant-tabs-nav-wrap{
            justify-content: center;
            @media screen and (max-width: 768px) {
                display: inline-block !important;
            }
        }
        .ant-tabs{
            overflow: unset;
        }

        .ant-tabs-nav{
            display: unset;
            overflow: hidden;
        }
        .ant-tabs-nav-more{
            display: none;
        }

        .ant-tabs-nav::before{
            border: none;
        }
        
        .ant-tabs-nav-container-scrolling{
            padding: 0;
        }
        .ant-tabs-nav-scroll{
            overflow-x: scroll;
            
            @media screen and (min-width: 769px) {
                white-space: pre-line;
                overflow: unset;
            }
        }
        .ant-tabs-tab{
            margin-right: 0 !important;
            margin-left: 0 !important;
            border-radius: 0 !important;
            border: none !important;
            background: #3a3e64 !important;
            color: white !important;
            font-size: 16px;
            padding: 10px 16px !important;
            @media screen and (max-width: 768px) {
                margin-right: 10px !important;
                border-radius: 8px !important;
            }
        }
        
        .ant-tabs-tab-prev,.ant-tabs-tab-next{
            display: none;
        }
        
        .ant-tabs-tab-active{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%) !important;
            .ant-tabs-tab-btn{
                color: white;
            }
        }
        
        .ant-tabs-nav-list{
            border-radius: 8px;
            overflow: hidden;
            
        }
    }
    
    &-view_more{
        display: flex;
        justify-content: center;
        .ant-btn{
            background: #3a3e64;
            color: white;
            border: none;
            border-radius: 5px;
            height: 35px;
            margin-top: 10px;
            @media screen and (max-width: 768px) {
                width: 90%;
            }
        }
    }
}