.product-slider{
    margin: 30px 0;
    margin-left: -12px !important;
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0 !important;
        width: 150px !important;
        border-radius: 5px;
        padding: 10px 10px 0 10px;
        a{
            overflow: hidden;
            border-radius: 3px;
            img{
                border-radius: 5px;
                transition: 0.5s;
            }
            img:hover{
                transform: scale(1.1);
            }
            p{
                text-align: center;
                color: white;
                margin: 10px 0;
                font-weight: 500;
                font-size: 14px;
                height: 40px;
            }
        }
    }

    &__item:hover{
        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
    }
}