.sale-slider{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    &__item{
        width: 180px !important;
        @media screen and (max-width: 768px) {
            width: 150px !important;
        }
        .add-cart{
            position: relative;
            &__hover{
                border: 2px solid #ffca06;
                overflow: hidden;
                border-radius: 5px;
                position: relative;
                .btn-add-cart{
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    bottom: auto;
                    right: auto;
                    transform: translate(-50%,-50%);
                    .ant-btn{
                        background: #272450;
                        border: none;
                        color: white;
                        border-radius: 5px;
                        text-align: center;
                        width: 150px;
                        height: 40px;
                    }
                }
                
                .sold-quantity{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: flex;
                    width: 100%;
                    text-align: end;
                    height: 25px;
                    line-height: 25px;
                    background: #ffca06;
                    @media screen and (max-width: 768px) {
                        background: transparent;
                    }
                    .incredibly-cheap{
                        flex: 1;
                    }
                    .incredibly-cheap::after{
                        content: "";
                        width: 111px;
                        height: 33px;
                        background: #ffca06;
                        background-image: url(../../../../assets/images/flash-sale-product-bg.001c245.png);
                        background-position: 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        bottom: 0;
                        left: -1px;
                        z-index: 2;
                        clip-path: polygon(0 28%, 90% 0, 100% 100%, 0 100%);
                        text-align: center;
                        line-height: 33px;
                        text-transform: uppercase;
                        color: black;
                        @media screen and (max-width: 768px) {
                            width: 90px;
                        }
                    }
                    .sold{
                        flex: 1;
                        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                        font-size: 11px;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%);
                        border-radius: 10px 0 0 0;
                        @media screen and (max-width: 768px) {
                            opacity: 0;
                        }
                    }
                }
                
                
                img{
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                }
            }
            &__hover:hover{
                img{
                    opacity: 0.5;
                    transform: scale(1.1);
                }
                .btn-add-cart{
                    opacity: 1;
                }
                
            }
            .price-title{
                background: #272450;
                border-radius: 0 0 4px 4px;
                width: 97%;
                margin: auto;
                padding: 10px 10px 0 10px;
                .title{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: 500;
                    font-size: 16px;
                    color: #f8f8f8;
                    line-height: 1.375;
                    height: 44px;
                }
                .price{
                    color: #ffca06;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    padding-bottom: 10px;
                }
            }
        }
        
        
    }
    .swiper-button-prev::after,.swiper-button-next::after{
        font-size: 20px;
        padding: 8px 12px;
        background: #3a3e64;
        color: white;
        border-radius: 50%;
    }
}