.slider{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
    &-item{
        height: 500px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        &__content{
            width: 90%;
            margin: auto;
            &--title{
                font-size: 28px;
                font-weight: 600;
                color: #ffca06;
                line-height: 1.4;
                margin-bottom: 10px;
            }
            &--access{
                margin-top: 3px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.375;
                margin-bottom: 20px;
            }
            &--viewmore{
                background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                color: white;
                font-weight: 600;
                font-size: 14px;
                padding: 10px 12px;
                border-radius: 3px;
            }
            &--viewmore:hover{
                color: white;
            }
        }
        
        @media screen and (max-width: 768px) {
            background-image: url("../../../../assets/images/banner-home.png") !important;
        }
       
    }
    .swiper-pagination{
            margin-bottom: 30px;
    }
}
