.game-pc-title{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    &__left{
        font-size: 20px;
    }
    &__right{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        position: relative;
        .link{
            a{
                font-weight: 600;
                color: #ffca06;
            }
            a:hover{
                color: white;
            }
        }
        .previous,.next{
            @media screen and (max-width: 768px) {
                display: none;
            }
            cursor: pointer;
            border-radius: 50%;
            background: #3a3e64;
            padding: 8px 12px;
        }
        .previous:hover,.next:hover{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
        }
    }
}