.ultilities-container{
    background: url(../../../../assets/images/home-category-bg-3.png);
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: top;
    .product-tab-view_more{
        @media screen and (min-width: 769px) {
            .ant-btn{
                width: 90%;
            }  
        }
        @media screen and (min-width: 821px){
            display: none;
        }
    }
}
