.auth-wrapper {
    background: #13112e;

    .container {
        .auth-container {

            .auth-body {

                &::before {
                    position: absolute;
                    z-index: 9;
                    top: -100px;
                    width: 239px;
                    left: -170px;
                    height: 399px;
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-image: url('../../../../assets/images/login/login-decorate-left.png');
                }
            
                &::after {
                    position: absolute;
                    z-index: 9;
                    bottom: -84px;
                    height: 425px;
                    width: 304px;         
                    right: -184px;
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-image: url('../../../../assets/images/login/login-decorate-right.png');
                }
            }

            .auth-footer {
                z-index: 12;
                padding: 48px 0;

                .auth-list-link {
                    margin-bottom: 10px;

                    .auth-link {
                        color: #f8f8f8;
                    }

                    .auth-link + .auth-link {
                        margin-left: 24px;
                    }
                }

                .auth-copyright {
                    color: hsla(0,0%,100%,.6);
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .auth-wrapper {

        .container {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;

            .auth-container {

                .auth-footer {
    
                    .auth-list-link {
                        flex-direction: column;
    
                        .auth-link { 
                            margin-bottom: 4px;
                        }
    
                        .auth-link + .auth-link {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and ( min-width: 576px ) {
    .auth-wrapper {

        .container {
            width: 90%;
        }
    }
}

@media screen and ( min-width:  768px ) {
    .auth-wrapper {
        height: 100vh;
        background-size: cover ;
        background-repeat: no-repeat;
        background-image: url('../../../../assets//images/login/login-background.png');
        
        .container {
            
            .auth-container {
                flex-direction: row;

                .auth-footer {
                    position: absolute;
                    font-size: 16px;

                    .auth-list-link {
                        margin-bottom: unset;
                    }
                }
            }
        }
    }
}

@media screen and ( min-width:  992px ) {
    .auth-wrapper {
        
        .container {
            
            .auth-container {

                .auth-footer {
                    flex-direction: row;
                }
            }
        }
    }
}

@media screen and ( min-width: 1200px ) {
    .auth-wrapper {

        .container {
            width: 1029px;

            .auth-container {

                .auth-body {

                    &::before, &::after {
                        content: '';
                    }
                }
            }
        }
    }
}