.login-body {
    background: #13112e;

    .login-banner {
        height: 436px;
        padding: 0 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../../../assets//images/login/login-banner.png');

        .banner-wrapper {
            color: #f8f8f8;

            .banner-logo {
                width: 140px;
                height: 28px;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                background-image: url('../../../../assets/images/logo.png');
            }

            .banner-heading {
                margin-top: 24px;
                line-height: 25px;
            }

            .banner-title {
                margin: 24px 0;
                max-width: 269px;
                line-height: 22px;
                color: hsla(0,0%,100%,.6);
            }

            .banner-btn {

                .btn-register {
                    width: 172px;
                    height: 36px;
                    color: #f8f8f8;
                    background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                }
            }
        }
    }

    .login-content {
        padding: 0 30px;
        margin: 20px 0;

        .content-wrapper {
            color: #f8f8f8;

            .content-form {
                margin-top: 24px;

                .form-email {
                    margin-bottom: 12px !important;

                    input::placeholder {
                        color: #4b4a60;
                    }

                    .email-input {
                        padding: 0;
                        max-height: 100%;
                        box-shadow: unset;
                        border: 1px solid hsla(0,0%,100%,.12);

                        &:focus {
                            box-shadow: unset;
                        }

                        .email-icon {
                            color: #9f9bab;
                            margin: 0 4px 0 16px;
                        }

                        input {
                            height: 46px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 6px 12px;
                            background-color: transparent;
                        }
                    }
                }

                .ant-form-item-has-error {

                    .email-input {
                        border-color: #ff4d4f;
                        background: transparent;
                    }
                }

                .form-password {
                    margin-bottom: 0 !important;

                    input::placeholder {
                        color: #4b4a60;
                    }

                    .password-input {
                        max-height: 100%;
                        box-shadow: unset;
                        border: 1px solid hsla(0,0%,100%,.12);

                        &:focus {
                            box-shadow: unset;
                        }

                        .password-icon {
                            color: #9f9bab;
                            margin: 0 4px 0 16px;
                        }

                        input {
                            height: 46px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 6px 12px;
                            background-color: transparent;
                        }

                        .ant-input-suffix {
                            margin: 0 64px 0 0;
                        }

                        .ant-input-password-icon {
                            font-size: 24px;
                            color: #9f9bab;
                        }
                    }

                    .form-btn {
                        z-index: 5;
                        padding: 0 1px;
                        margin-bottom: 0 !important;
                        background: linear-gradient(90deg, #4c5ffd -0.03%, #1841d3 100.03%);

                        .btn-submit {
                            box-shadow: unset;

                            &:hover {
                                border: none;
                                background: none;
                            }
                        }
                    }
                }

                .ant-form-item-control {
                    max-width: 100%;
                }
            }

            .forgot-password {
                margin-top: 24px;
                color: #5081ff;
                line-height: 22px;
            }

            .content-social {
                margin-top: 48px;
                color: hsla(0,0%,100%,.6);

                .social-list {
                    margin-top: 12px;

                    .social-item {
                        width: 24px;
                        height: 24px;

                        &:hover {
                            color: #f8f8f8;
                            background-color: #5081ff;
                        }
                    }

                    .social-item + .social-item {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {}

@media screen and ( min-width: 576px ) {}

@media screen and ( min-width:  768px ) {
    .login-body {
        box-shadow: 0 0 20px rgb(0 132 255 / 24%);

        .login-content {
            margin: 0;
        }
    }
}

@media screen and ( min-width:  992px ) {
    .login-body {

        .login-banner {
            padding: 0 12px 0 90px;
        }

        .login-content {
            padding: 0 90px 0 60px;
        }
    }
}

@media screen and ( min-width: 1200px ) {}