.register-body {
    background: #13112e;

    .register-banner {
        height: 436px;
        padding: 0 45px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../../../assets//images/register/register-banner.png');

        .banner-wrapper {
            color: #f8f8f8;

            .banner-heading {
                color: #f8f8f8;
                line-height: 25px;
            }

            .banner-step {
                margin-top: 24px;
                color: hsla(0,0%,100%,.6);

                .step-item {
                    justify-content: start;
                    margin-top: 12px;

                    .step-number {
                        min-width: 24px;
                        width: 24px;
                        height: 24px;
                        background: hsla(0,0%,100%,.12);
                    }

                    .step-content {
                        margin-left: 12px;
                        line-height: 17px;
                    }

                    .step-active.step-number {
                        background-color: #5081ff;
                    }
                }
            }
        }
    }

    .register-content {
        padding: 0 45px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 576px) {}

@media screen and ( min-width: 576px ) {
}

@media screen and ( min-width:  768px ) {
    .register-body {
        box-shadow: 0 0 20px rgb(0 132 255 / 24%);

        .register-banner {
            height: unset;
            min-height: 436px;
        }
    }
}

@media screen and ( min-width:  992px ) {
    .register-body {

        .register-banner {
            padding: 0 90px;
        }

        .register-content {
            padding: 0 80px;
        }
    }
}

@media screen and ( min-width: 1200px ) {}