.content-desc {
    line-height: 20px;
    color: hsla(0,0%,100%,.6);
}

.content-form {

    form {
        color: hsla(0,0%,100%,.6);

        .form-item {
            margin-top: 4px;

            .form-prefix {
                height: 48px;
                min-width: 70px;
                margin-right: 12px;
            }
    
            .form-email {
                width: 100%;
                margin-bottom: 0 !important;

                input::placeholder {
                    color: #4b4a60;
                }
        
                .ant-form-item-control {
                    max-width: 100%;
                }
        
                .email-input {
                    height: 48px;
                    padding: 0 8px;
                    max-height: 100%;
                    box-shadow: unset;
                    align-items: center;
        
                    &:focus {
                        box-shadow: unset;
                    }
        
                    .email-icon {
                        color: #9f9bab;
                        margin: 0;
                    }
        
                    input {
                        height: 46px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 6px 4px;
                        background-color: transparent;
                    }
                }
            }

            .form-primary {
                margin-bottom: 0 !important;

                input::placeholder {
                    color: #4b4a60;
                }
        
                .ant-form-item-control {
                    max-width: 100%;
                }
        
                .input-primary {
                    z-index: 10;
                    color: #fff;
                    height: 48px;
                    padding: 0 8px;
                    max-height: 100%;
                    box-shadow: unset;
                    border: 1px solid hsla(0,0%,100%,.12);
        
                    &:focus {
                        box-shadow: unset;
                    }

                    .ant-input-password-icon {
                        font-size: 24px;
                        color: #4b4a60;
                    }
        
                    input {
                        z-index: 999;
                        color: #fff;
                        height: 46px;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 6px 0px;
                        background-color: transparent;
                    }
                }
            }

            .ant-form-item-has-error {

                .input-primary {
                    border-color: #ff4d4f;
                    background-color: transparent;
                }
            }

            .rules {

                .rule-item {
                    align-items: start;
                    margin-top: 4px;

                    .rule-icon {
                        min-width: 14px;
                        margin-right: 4px;
                    }

                    .rule-message {
                        line-height: 17px;
                    }
                }
            }
        }
    }

    .form-btn {
        padding: 2px 1px;
        margin: 4px auto 0 auto !important;
        background: linear-gradient(90deg, #4c5ffd -0.03%, #1841d3 100.03%);

        .btn-submit {
            box-shadow: unset;

            &:hover {
                border: none;
                background: none;
            }
        }
    }
}

.content-footer {
    line-height: 20px;
    margin-top: 6px;
    color: hsla(0,0%,100%,.6);
}

@media screen and (max-width: 576px) {}

@media screen and ( min-width: 576px ) {}

@media screen and ( min-width:  768px ) {
}

@media screen and ( min-width:  992px ) {
}

@media screen and ( min-width: 1200px ) {}