
.content-wrapper {
    color: hsla(0,0%,100%,.6);

    .content-title {
        margin-top: 8px;
    }

    .content-form {
        margin-top: 24px;

        .form-email {

            input::placeholder {
                color: #4b4a60;
            }

            .email-input {
                padding: 0;
                max-height: 100%;
                box-shadow: unset;
                border: 1px solid hsla(0,0%,100%,.12);

                &:focus {
                    box-shadow: unset;
                }

                .email-icon {
                    color: #9f9bab;
                    margin: 0 4px 0 16px;
                }

                input {
                    height: 46px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 6px 12px;
                    background-color: transparent;
                }
            }
        }

        .form-desc {
            margin-top: 24px;
            line-height: 17px;
            color: hsla(0,0%,100%,.6);

            .desc-note {
                color: #f8f8f8;
            }
        }

        .ant-form-item-has-error {

            .email-input {
                border-color: #ff4d4f;
                background-color: transparent;
            }
        }

        .form-btn {
            padding: 2px 1px;
            margin: 24px auto 0 auto !important;
            background: linear-gradient(90deg, #4c5ffd -0.03%, #1841d3 100.03%);

            .btn-submit {
                box-shadow: unset;

                &:hover {
                    border: none;
                    background: none;
                }
            }
        }

        .ant-form-item-control {
            max-width: 100%;
        }

        .btn-back {
            margin-top: 8px;
            color: #f8f8f8;
            background: #3a3e64;
        
            &:hover {
                color: #f8f8f8;
                background: #3a3e64;
            }
        }
    }
}

