
.content-wrapper {
    color: hsla(0,0%,100%,.6);

    .content-title {
        margin-top: 8px;
    }

    .content-form {
        margin-top: 24px;

        .form-email {
            margin-bottom: 24px !important;

            input::placeholder {
                color: #4b4a60;
            }

            .email-input {
                padding: 0;
                max-height: 100%;
                box-shadow: unset;
                border: 1px solid hsla(0,0%,100%,.12);

                &:focus {
                    box-shadow: unset;
                }

                .email-icon {
                    color: #9f9bab;
                    margin: 0 4px 0 16px;
                }

                input {
                    height: 46px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 6px 12px;
                    background-color: transparent;
                }
            }
        }

        .ant-form-item-has-error {

            .email-input {
                border-color: #ff4d4f;
                background-color: transparent;
            }
        }

        .form-btn {
            padding: 2px 1px;
            margin-bottom: 0 !important;
            background: linear-gradient(90deg, #4c5ffd -0.03%, #1841d3 100.03%);

            .btn-submit {
                box-shadow: unset;

                &:hover {
                    border: none;
                    background: none;
                }
            }
        }

        .ant-form-item-control {
            max-width: 100%;
        }
    }

    .content-social {
        margin-top: 24px;
        color: hsla(0,0%,100%,.6);

        .social-list {
            margin-top: 12px;

            .social-item {
                width: 24px;
                height: 24px;

                &:hover {
                    color: #f8f8f8;
                    background-color: #5081ff;
                }
            }

            .social-item + .social-item {
                margin-left: 12px;
            }
        }
    }
}