.auth-wrapper-success {
    background: #272450;

    .container {

        .auth-container {

            .auth-body {

                .register-success {
                    margin: 60px auto auto auto;

                    .success-heading {
                        margin-top: 24px;
                        color: #f8f8f8;
                        line-height: 34px;
                    }

                    .success-title {
                        line-height: 22px;
                        margin-top: 24px;
                        color: hsla(0,0%,100%,.6);
                    }

                    .btn-back {
                        height: 36px;
                        padding: 0px 14px;
                        line-height: 20px;
                        margin-top: 24px !important;
                        background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%);
                    }
                }
            }
    
            .auth-footer {
                z-index: 12;
                padding: 48px 0;

                .auth-list-link {
                    margin-bottom: 10px;

                    .auth-link {
                        color: #f8f8f8;
                    }

                    .auth-link + .auth-link {
                        margin-left: 24px;
                    }
                }

                .auth-copyright {
                    color: hsla(0,0%,100%,.6);
                }
            }
        }
    }
}

@media screen and (max-width: 576px) { 
    .auth-wrapper-success {
        background: #272450;
    
        .container {
    
            .auth-container {
        
                .auth-footer {
    
                    .auth-list-link {
                        flex-direction: column;

                        .auth-link { 
                            margin-bottom: 4px;
                        }
    
                        .auth-link + .auth-link {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and ( min-width:  768px ) {
    .auth-wrapper-success {
        height: 100vh;

        .container {
            
            .auth-container {

                .auth-footer {
                    position: absolute;

                    .auth-list-link {
                        margin-bottom: unset;
                    }
                }
            }
        }
    }
}

@media screen and ( min-width:  992px ) {
    .auth-wrapper-success {
        
        .container {
            width: 80%;

            .auth-container {

                .auth-footer {
                    flex-direction: row;
                }
            }
        }
    }
}

@media screen and ( min-width: 1200px ) {
    .auth-wrapper-success {

        .container {
            width: 1029px;

            .auth-container {

                .auth-body {

                    &::before, &::after {
                        content: unset;
                    }
                }
            }
        }
    }
}