.notification{
    margin-top: 150px;
    &-content{
        background: #272450;
        width: 55%;
        min-height: 350px;
        margin-bottom: 50px;
        border-radius: 8px;
        padding: 20px;
        @media screen and (max-width: 768px) {
            width: 90%;
          }
        h1{
            color: white;
            font-size: 24px;
        }
        .ant-tabs-nav-more{
            display: none;
        }

        .ant-tabs-nav::before{
            border: none;
        }
        .ant-tabs-tab{
            margin-right: 20px !important;
            margin-left: 0 !important;
            border-radius: 0 !important;
            border: none !important;
            background: #3a3e64 !important;
            color: white !important;
            font-size: 16px;
            border-radius: 8px !important;
           
        }
        .ant-tabs-tab-active{
            background: linear-gradient(90deg,#4c5ffd -.03%,#1841d3 100.03%) !important;
            .ant-tabs-tab-btn{
                color: white;
            }
        }
    }
}